<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

      <div class="site-wrap">

        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>

        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}



       {{- partial "footer.html" . -}}

      </div>
       {{- partial "scripts.html" . -}}
    </body>
</html>
